.hide-color-picker {
    display: inherit !important;
}

#setting-error-tgmpa, #setting-error-nt-advent {display: block !important;}
.rwmb-divider-wrapper hr {
    border-top: 4px solid #F1F1F1 !important;
    margin: 20px -12px 20px;
}
.rwmb-heading-wrapper h4 {
    display: block;
    font-size: .75rem;
    line-height: 1.4;
    border-bottom: 1px solid rgb(230, 230, 230);
    /* text-transform: uppercase; */
    padding: 0 20px 10px;
    font-weight: 700;
    margin: 0 -12px 6px;
}

.rwmb-heading-wrapper h4 {
    border-bottom: 0 !important;
    text-transform: none !important;
    padding: 6px 16px 8px!important;
    font-weight: 700!important;
    margin: -33px 0px 6px -12px!important;
    background: #0073AA!important;
    color: #FFFFFF!important;
    width: 99.3%;
}

.rwmb-tab-panel .rwmb-thickbox_image-wrapper ul li {
	display: inline-block;
    position: relative;
}

.rwmb-image-item .rwmb-media-preview {
    width: 150px;
    background: #eee;
}
.hide-color-picker {
    display: inherit !important;
}
.type-radio-image .format-setting-inner > .option-tree-ui-radio-images:nth-child(4),
.type-radio-image .format-setting-inner > .option-tree-ui-radio-images:nth-child(5),
.type-radio-image .format-setting-inner > .option-tree-ui-radio-images:nth-child(6){
    display:none !important;
}
.ot-theme-option-tabs.ui-tabs .ot-theme-option-nav.ui-tabs-nav li.ui-state-active a,
#side-sortables .ot-metabox-tabs.ui-tabs .ot-metabox-nav.ui-tabs-nav li.ui-state-active a {
    color: white !important;
    background: #0085ba !important;
    box-shadow: none !important;
}
select.option-tree-ui-select {
    min-width: 150px!important;
}
.section-separator-wrap {
    background: #007cba;
    padding: 10px 20px;
    border-top: 4px solid #000;
    margin-top: 10px;
}
.section-separator-wrap .format-setting.wide-desc .description {
    display: none;
}
.section-separator-wrap .format-setting-wrap,
.section-separator-wrap .format-setting-label {
    padding: 0;
    margin: 0;
    border: none;
}
#option-tree-settings-api .section-separator-wrap .description h3,
#option-tree-settings-api .section-separator-wrap .format-setting-label .label,
#poststuff .section-separator-wrap .format-setting-label .label {
    color: #fff;
    font-weight: 500;
    padding: 0;
    margin: 0;
}
