/* use this file just theme versions */
@media (max-width: 1200px) {
    .f-content h2 {
        font-size: 17px;
    }
}

dt {
    font-family: Poppins;
    font-weight: 500 !important;
}

dd {
    margin-bottom: 20px;
}

.sticky-logo {
    display: none !important;
}

.past-main .sticky-logo {
    display: block !important;
}

.past-main .default-logo {
    display: none !important;
}

/* *************************
:: 3.0 Preloader Css
************************* */
.nt-advent-custom-preloader {
    overflow: hidden;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    background-color: #fff;
}

.cssload-loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 3em;
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    background: #2196f3;
    z-index: 9;
    top: 50%;
    margin-top: -24px;
    left: 50%;
    margin-left: -24px;
}

.cssload-loader,
.cssload-loader:before,
.cssload-loader:after {
    animation: 1.15s infinite ease-in-out;
    -o-animation: 1.15s infinite ease-in-out;
    -ms-animation: 1.15s infinite ease-in-out;
    -webkit-animation: 1.15s infinite ease-in-out;
    -moz-animation: 1.15s infinite ease-in-out;
}

.cssload-loader:before,
.cssload-loader:after {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.cssload-loader {
    animation-name: cssload-loader;
    -o-animation-name: cssload-loader;
    -ms-animation-name: cssload-loader;
    -webkit-animation-name: cssload-loader;
    -moz-animation-name: cssload-loader;
}

@keyframes cssload-loader {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

@-webkit-keyframes cssload-loader {
    from {
        -webkit-transform: scale(0);
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    to {
        -webkit-transform: scale(1);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

.wpcf7 input:focus, .wpcf7 textarea:focus {
    color: #000 !important;
    font-weight: 600;
}

.wpcf7-submit {
    max-width: 100%;
}

.software .feature-sub.grad-hide {
    background-image: none !important;
}

/* Gutenberg updates */
.wp-block-cover p.wp-block-cover-text {
    color: #fff;
}

.wp-block-button {
    margin-bottom: 15px;
}

.wp-block-gallery.nt-theme-content-list {
    padding: 0px !important;
    margin: 0 0 30px !important;
}

.wp-block-gallery.alignleft.columns-2.is-cropped.nt-theme-content-list {
    margin-right: 15px !important;
}

.wp-block-quote.is-large, .wp-block-quote.is-style-large {
    margin: 30px 0 32px 45px;
    padding: 0 1em;
}

.wp-block-archives.wp-block-archives-dropdown .nice-select {
    float: none;
    max-width: 250px;
}

.wp-block-columns.alignwide.has-3-columns blockquote {
    margin: 0 auto !important;
}

.wp-block-archives.wp-block-archives-list,
.wp-block-archives.wp-block-archives-dropdown,
.wp-block-categories.wp-block-categories-list,
.wp-block-latest-comments.has-avatars.has-dates.has-excerpts,
.wp-block-latest-comments,
.wp-block-latest-posts.wp-block-latest-posts__list,
.wp-block-latest-posts.is-grid {
    margin-bottom: 30px !important;
}

.wp-block-media-text {
    margin-bottom: 30px;
}

.nt-theme-content .wp-block-archives.wp-block-archives-dropdown .nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
}

.blocks-gallery-grid .blocks-gallery-image, .blocks-gallery-grid .blocks-gallery-item, .wp-block-gallery .blocks-gallery-image, .wp-block-gallery .blocks-gallery-item {
    margin: 0 5px 5px 0 !important;
}

.wp-block-embed {
    margin-bottom: 2em;
}

ul.wp-block-latest-posts.wp-block-latest-posts__list.has-dates li {
    margin-bottom: 20px;
}

ul.wp-block-categories.wp-block-categories-list li,
ul.wp-block-archives.wp-block-archives-list li {
    margin-bottom: 10px;
}

.wp-block-gallery {
    padding: 0 !important;
    margin: 0 5px 20px 0px;
}

.wp-block-latest-comments {
    padding: 0;
}

.wp-block-image {
    margin-bottom: 2em;
}

.wp-block-cover {
    margin: 0 25px 25px 0;
}

.wp-block-latest-posts.wp-block-latest-posts__list {
    padding-left: 0;
}
.header-topbar-template-custom {
    position: relative;
    display: block;
    width: 100%;
    z-index: 9999;
}
.header-topbar-template-custom .topbar >.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    align-items: center;
}
body.scroll-start:not(.admin-bar) .header-topbar-template-custom + .container .navbar {
    top: 0px!important;
}
body.admin-bar.scroll-start .header-topbar-template-custom + .container .navbar {
    top: 32px!important;
}
.header-topbar-template-custom .topbar {
    padding: 6px 0;
    background: #3333cc;
}
.header-topbar-template-custom .socials {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header-topbar-template-custom .socials i {
    margin: 0 10px;
}
.header-topbar-template-custom .socials i,
.header-topbar-template-custom .left-section,
.header-topbar-template-custom .left-section a {
    color: #fff;
}
.header-topbar-template-custom .left-section a {
    margin-right: 20px;
}
.header-topbar-template-custom .left-section a i {
    margin-right: 5px;
}
@media only screen and (max-width: 782px) {
    body.admin-bar.scroll-start .header-topbar-template-custom + .container .navbar {
        top: 46px!important;
    }
}
@media only screen and (max-width: 600px) {
    body.admin-bar.scroll-start .header-topbar-template-custom + .container .navbar {
        top: 0px!important;
    }
}

@media only screen and (max-width: 576px) {
    .header-topbar-template-custom .topbar >.row {
        flex-direction: column;
    }
    .header-topbar-template-custom .socials {
        justify-content: center;
    }
    .header-topbar-template-custom .left-section {
        text-align: center;
        margin-bottom: 15px;
    }
    .header-topbar-template-custom .left-section a {
        margin-bottom: 20px;
        font-size: 12px;
    }
}

/* woo */

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background-color: #3433cc;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text {
    float: left;
    box-sizing: border-box;
    border: 1px solid #ebe9eb;
    padding: 6px 6px 5px;
    margin: 0 4px 0 0;
    outline: 0;
    height: 27px;
    font-size: 12px;
    border-radius: 4px;
    width: 120px;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    outline: 0;
    line-height: normal;
    height: 36px;
    border-radius: 4px !important;
        border: 1px solid #e5e5e5;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
    background-color: #222222;
    color: #fff;
}

.woocommerce .woocommerce-ordering select {
    vertical-align: top;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 4px;
}
